@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 24px;
    line-height: 30px;
  }

  h2 {
    font-size: 18px;
    line-height: 22px;
  }

  h3 {
    font-size: 14px;
    line-height: 18px;
  }

  thead th div {
    @apply rounded-md p-2 h-8 ml-1 mb-2 flex justify-around items-center bg-blackBg;
  }

  tr {
    @apply border-b border-b-blackBg;
  }

  tr td {
    @apply py-2;
  }

  input {
    @apply bg-[#A5A6F626] hover:bg-[#A5A6F60D] hover:border hover:border-[#A5A6F6] focus-visible:bg-[#A5A6F60D] focus-visible:border focus-visible:border-[#5D5FEF] focus:outline-none;
    @apply rounded-lg block w-full box-border placeholder:text-disabled;
  }

  button {
    @apply ease-in-out duration-300;
  }
}

@layer components {
  .card {
    background-color: theme(colors.white);
    @apply p-6 rounded-2xl;
  }

  .aside-menu-item {
    @apply flex flex-col items-center rounded-lg gap-1;
    padding: 6px 12px;
  }

  .aside-menu-item.active {
    background-color: theme(colors.blackBg);
  }

  .aside-menu-item .item-name {
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    color: theme(colors.blackDefault);
  }

  .caption {
    font-size: 8px;
    line-height: 10px;
    color: theme(colors.disabled);
  }
}

@layer utilities {
  .font-bold {
    font-family: 'Samsung Sharp Sans Bold';
    letter-spacing: 0.05em;
  }
}

@font-face {
  font-family: 'Samsung Sharp Sans Regular';
  font-style: normal;
  src: local('Samsung Sharp Sans Regular'),
    url('./fonts/samsungsharpsans.woff') format('woff');
}

@font-face {
  font-family: 'Samsung Sharp Sans Medium';
  font-style: normal;
  src: local('Samsung Sharp Sans Medium'),
    url('./fonts/samsungsharpsans-medium.woff') format('woff');
}

@font-face {
  font-family: 'Samsung Sharp Sans Bold';
  font-style: normal;
  src: local('Samsung Sharp Sans Bold'),
    url('./fonts/samsungsharpsans-bold.woff') format('woff');
}

body {
  font-family: 'Samsung Sharp Sans Medium';
  font-size: 10px;
  line-height: 13px;
  color: theme(colors.blackDefault);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

svg:hover {
  fill: #fce57e;
}

svg:hover path {
  fill: #fce57e;
}

svg:hover plygon {
  fill: #fce57e;
}

svg:hover circle {
  fill: #fce57e;
}

.hide {
  display: none !important;
}
