@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-[#F1F1FF];
  }

  h1 {
    font-size: 24px;
    line-height: 30px;
  }

  h2 {
    font-size: 18px;
    line-height: 22px;
  }

  h3 {
    font-size: 14px;
    line-height: 18px;
  }

  thead th div {
    @apply ml-1 mb-2 flex h-8 items-center justify-around rounded-md bg-blackBg p-2;
  }

  tr {
    @apply border-b border-b-blackBg;
  }

  tr td {
    @apply py-2;
  }

  input {
    @apply bg-[#A5A6F626] hover:border hover:border-[#A5A6F6] hover:bg-[#A5A6F60D] focus:outline-none focus-visible:border focus-visible:border-[#5D5FEF] focus-visible:bg-[#A5A6F60D];
    @apply box-border block w-full rounded-lg placeholder:text-disabled;
  }

  button {
    @apply duration-300 ease-in-out;
  }
}

@layer components {
  .card {
    background-color: theme(colors.white);
    @apply rounded-2xl p-6;
  }

  .aside-menu-item {
    @apply flex flex-col items-center gap-1 rounded-lg;
    padding: 6px 12px;
  }

  .aside-menu-item.active {
    background-color: theme(colors.blackBg);
  }

  .aside-menu-item .item-name {
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    color: theme(colors.blackDefault);
  }

  .caption {
    font-size: 8px;
    line-height: 10px;
    color: theme(colors.disabled);
  }

  .transparent-input {
    border: 0px !important;
    background-color: transparent !important;
    outline: none !important;
  }

  .transparent-important {
    background: transparent !important;
  }
}

@layer utilities {
  .font-bold {
    font-family: 'Samsung Sharp Sans Bold';
    letter-spacing: 0.05em;
  }
}

@font-face {
  font-family: 'Samsung Sharp Sans Regular';
  font-style: normal;
  src: local('Samsung Sharp Sans Regular'),
    url('./fonts/samsungsharpsans.woff') format('woff');
}

@font-face {
  font-family: 'Samsung Sharp Sans Medium';
  font-style: normal;
  src: local('Samsung Sharp Sans Medium'),
    url('./fonts/samsungsharpsans-medium.woff') format('woff');
}

@font-face {
  font-family: 'Samsung Sharp Sans Bold';
  font-style: normal;
  src: local('Samsung Sharp Sans Bold'),
    url('./fonts/samsungsharpsans-bold.woff') format('woff');
}

body {
  font-family: 'Samsung Sharp Sans Medium';
  font-size: 10px;
  line-height: 13px;
  color: theme(colors.blackDefault);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

svg:hover {
  fill: #fce57e;
}

svg:hover path {
  fill: #fce57e;
}

svg:hover plygon {
  fill: #fce57e;
}

svg:hover circle {
  fill: #fce57e;
}

.hide {
  display: none !important;
}

input[type='range'] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:hover {
  outline: none;
  border: none;
}

input[type='range']::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background: #5d5fef;
  transform: rotate(45deg);
  cursor: pointer;
  border-radius: 0.25rem;
}
